{% load static from staticfiles %}
<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>Team Calculator</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
	</head>

	<body>
		<div class="wrapper">
			<h1 class="header"><a href=""><img src="{% static 'image/one_scythe_league_logo_48.png' %}"></a></h1>
			<h2 class="module-header">team balancer</h2>
			<form id="team-balancer" class="teams-view" name="test" method="post" action="">
				<div class="team-players">
					<p class="team-name"><b>Team 1</b><br>
					<p>
						<input class="nickname-field" type="text" size="25" placeholder="nickname" maxlength=25>
						<input class="points-field" type="number" size="25" placeholder=1000>
					</p>
					<p>
						<input class="nickname-field" type="text" size="25" placeholder="nickname" maxlength=25>
						<input class="points-field" type="number" size="25" placeholder=1000>
					</p>
					<p>
						<input class="nickname-field" type="text" size="25" placeholder="nickname" maxlength=25>
						<input class="points-field" type="number" size="25" placeholder=1000>
					</p>
					<p>
						<input class="nickname-field" type="text" size="25" placeholder="nickname" maxlength=25>
						<input class="points-field" type="number" size="25" placeholder=1000>
					</p>
					<p>
						<input class="nickname-field" type="text" size="25" placeholder="nickname" maxlength=25>
						<input class="points-field" type="number" size="25" placeholder=1000>
					</p>
				</div>
				<h2 class="versus-field">Versus</h2>
				<div class="team-players">
					<p class="team-name"><b>Team 2</b><br>
					<p>
						<input class="nickname-field" type="text" size="25" placeholder="nickname" maxlength=25>
						<input class="points-field" type="number" size="25" placeholder=1000>
					</p>
					<p>
						<input class="nickname-field" type="text" size="25" placeholder="nickname" maxlength=25>
						<input class="points-field" type="number" size="25" placeholder=1000>
					</p>
					<p>
						<input class="nickname-field" type="text" size="25" placeholder="nickname" maxlength=25>
						<input class="points-field" type="number" size="25" placeholder=1000>
					</p>
					<p>
						<input class="nickname-field" type="text" size="25" placeholder="nickname" maxlength=25>
						<input class="points-field" type="number" size="25" placeholder=1000>
					</p>
					<p>
						<input class="nickname-field" type="text" size="25" placeholder="nickname" maxlength=25>
						<input class="points-field" type="number" size="25" placeholder=1000>
					</p>
				</div>

				<p class="navigation-buttons">
					<input id="balance-button" type="button" value="Balance">
					<input type="reset" value="Reset">
				</p>
			</form>

			<h2 class="module-header">points calculator</h2>
			<form id="points-calculator" class="teams-view" name="test" method="post" action="">
				<div class="team-players">
					<p class="team-name"><b>Team 1</b><br>
          {% for i in range(5) %}
					<p>
						<input class="nickname-field" type="text" size="25" placeholder="nickname" maxlength=25>
						<input class="points-field" type="number" size="25" placeholder=1000>
					</p>
          {% endfor %}
				</div>
				<h2 class="versus-field">Versus</h2>
				<div class="team-players">
					<p class="team-name"><b>Team 2</b><br>
					<p>
						<input class="nickname-field" type="text" size="25" placeholder="nickname" maxlength=25>
						<input class="points-field" type="number" size="25" placeholder=1000>
					</p>
					<p>
						<input class="nickname-field" type="text" size="25" placeholder="nickname" maxlength=25>
						<input class="points-field" type="number" size="25" placeholder=1000>
					</p>
					<p>
						<input class="nickname-field" type="text" size="25" placeholder="nickname" maxlength=25>
						<input class="points-field" type="number" size="25" placeholder=1000>
					</p>
					<p>
						<input class="nickname-field" type="text" size="25" placeholder="nickname" maxlength=25>
						<input class="points-field" type="number" size="25" placeholder=1000>
					</p>
					<p>
						<input class="nickname-field" type="text" size="25" placeholder="nickname" maxlength=25>
						<input class="points-field" type="number" size="25" placeholder=1000>
					</p>
				</div>

				<p class="navigation-buttons">
					<input id="calculate-button" type="button" value="Calculate">
					<input type="reset" value="Reset">
				</p>
			</form>
		</div>
		<script src="{% static 'js/balance.js' %}"></script>

	</body>
</html>
