{% extends 'base_layout.html' %}

{% block content %}
  <h1>Game details</h1>
  <div class="games-info-list">
    <div class="game-info">
      <p class="game-nickname">
        {{game}}
      </p>
      <p class="game-date">
        {{game.date}}
      </p>
    </div>
  </div>

  <h2>
    Winner: {{game.winner}}
  </h2>

  <div class="player-in-game-info-list">
    {% regroup game.playeringame_set.all   by side as sides %}
    {% for side in sides %}
      <h2>
        {{ side.grouper }}
      </h2>
      {% for player_info in side.list %}
      <a href="{% url 'calculator:player_detail' pk=player_info.player.pk %}">
        <div class="player-in-game-info">
          <p class="player-nickname">
            {{player_info.player.nickname}}
          </p>
          <p class="player-in-game-elem">
            {{player_info.pts_start}}
          </p>
          <p class="player-in-game-elem">
            {% if game.winner == side.grouper %}
              +{{player_info.pts_dif}}
            {% elif game.winner != 'Draw' %}
              -{{player_info.pts_dif}}
            {% else %}
              0
            {% endif %}
          </p>
        </div>
      </a>
      {% empty %}
        no players exist
      {% endfor %}
    {% endfor %}

{% endblock %}
