{% extends 'base_layout.html' %}

{% block content %}
<h1>Players List</h1>
<div class="players-info-list">
  {% for player in players %}
    <a href="{% url 'calculator:player_detail' pk=player.pk %}">
      <div class="player-info">
        <p class="player-nickname">
          {{player.nickname}}
        </p>
        <p class="player-elem">
          {{player.pts}}
        </p>
        <p class="player-elem">

          <span class="player-wins">
            {{player.wins}}
          </span>
          <span>
            /
          </span>
          <span class="player-loses">
            {{player.loses}}
          </span>

        </p>
      </div>
    </a>
  {% empty %}
    <div class="player-info">
      <p class="player-nickname">
        no players exist
      </p>
    </div>
  {% endfor %}
</div>
{% endblock %}
