{% extends 'base_layout.html' %}

{% block content %}
  <h1>Player details</h1>
  <div class="players-info-list">
    <div class="player-info">
      <p class="player-nickname">
        {{player.nickname}}
      </p>
      <p class="player-elem">
        {{player.pts}}
      </p>
      <p class="player-elem">

        <span class="player-wins">
          {{player.wins}}
        </span>
        <span>
          /
        </span>
        <span class="player-loses">
          {{player.loses}}
        </span>

      </p>
    </div>
  </div>

  <h2>Player's Games List</h2>
  <div class="player-in-game-info-list">
    {% for game_info in player.playeringame_set.all %}
      <a href="{% url 'calculator:game_detail' pk=game_info.game.pk %}">
        <div class="player-in-game-info">
          <p class="game-name">
            {{game_info.game}}
          </p>
          <p class="game-name">
            {{game_info.pts_start}}
          </p>
          <p class="player-in-game-elem">
            {% if game_info.side == game_info.game.winner %}
              <span class="player-wins">
                +{{ game_info.pts_dif }}
              </span>
            {% elif game_info.game.winner == 'Draw' %}
              0
            {% else %}
              <span class="player-loses">
                {{ game_info.pts_dif }}
              </span>
            {% endif %}
          </p>
          <p class="game-date">
            {{game_info.game.date}}
          </p>
        </div>
      </a>
    {% empty %}
      <div class="game-info">
        <p class="game-name">
          no games exist yet
        </p>
      </div>
    {% endfor %}
  </div>

{% endblock %}
