
body {
  display: block;
  background-color: #0f121f;
  background-image: url("../image/stars.png");
  background-repeat: no-repeat;
  color: white;
  font-family: "FRIZQT";
}

a, a:hover, a:visited{
    color: #fff;
    text-decoration: none;
}

a:hover div{
  background-color: #00dba0;
  border: 1px solid #009970;
}

.wrapper{
  max-width: 1280px;
  margin: auto;
  text-align: left;

  border: 1px none #fff;
}

.content{
  border: 1px none #fff;
}


.content > h1, h2{
  text-align: center;
  font-family: "Abaddon";
  padding-bottom: 10px;
  padding-top: 20px;
  text-transform: capitalize;

  border: 1px none #fff;
}

.content > h1{
  font-size: 2.2em;
  text-shadow: #00dba0 0 0 5px;
  padding-bottom: 40px;
}

.content > h2{
  font-size: 1.8em;
  margin: 20px 0px 0px 0px;
  padding: 20px 0px 0px 0px;
  text-shadow: #00dba0 0 0 3px;
}

.header{
  display: grid;
  grid-template-columns: 4fr 2fr 1fr;
  margin: 20px 20px 40px 20px;

  border: 1px none #fff;
}

.logo{
  border: 1px none #fff;
}

.nav-menu{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  text-align: center;
  padding: 0px 5px 5px 5px;
  margin: 5px 5px 5px 5px;

  border: 1px none #fff;
}

.nav-menu-elem{
  position: relative;
  padding: 10px 0px 5px 0px;
  margin: 5px 20px 5px 0px;
  text-align: center;
  font-size: 1.2em;
  font-family: "Folkard";

  border: 1px none #fff;
}

.nav-menu-elem:hover {
  text-shadow: #00dba0 0px 0px 25px;
}

.nav-login{
  display: block;
  /*grid-template-columns: 1fr 1fr;*/
  text-align: right;
  list-style-type: none;
  padding: 0px 0px 5px 5px;
  margin: 0px 0px 25px 10px;

  border: 1px solid #00dba0;
  border-radius: 10px;
}

.nav-login-elem{
  position: relative;
  display: block;

  padding: 10px 10px 10px 10px;
  margin: 5px 0px 5px 0px;
  text-align: right;
  font-size: 1em;
  font-family: "FRIZQT";

  border: 1px none #fff;
}

.nav-login-elem > form > button{
  font-size: 1em;
  font-family: "FRIZQT";
}

.nav-login-elem > a:hover,button:hover {
  text-shadow: #00dba0 0px 0px 25px;
}

nav{
    justify-self: end;
}

nav li{
    display: inline-block;
    list-style-type: none;
    margin-left: 20px;
}

nav button{
    background: none;
    color: #fff;
    cursor: pointer;
    border: 0;
    font-size: 16px;
}

.module-header{
  /*margin: 20px 20px 0px 20px;*/
  /*padding: 20px 20px 0px 20px;*/
  /*font-size: 28px;*/
}

.team-players {
  display: block;
  padding: 20px 0;
  border: 1px solid #00dba0;
  padding: 20px;
  margin: 20px;
}

.teams-view {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  padding: 20px;
  margin: 20px;

  border: 1px none #fff;
}

.versus-field {
  display: block;
  padding: 20px;
  padding-top: 120px;
  margin: 20px;
  text-align: center;
  border-style: none;
  font-size: 1.6em;

  border: 1px none #fff;
}

.navigation-buttons-menu {
  border: 1px solid #00dba0;
  padding: 20px;
  margin: 20px;
}

.navigation-button {
  background-color: #009970;
  border-radius: 10px;
  border: 2px solid #00dba0;
  text-align: center;
  color: #fff;
  font-size: 0.9em;
  margin: 0px 10px;
  padding: 5px 15px;
  box-shadow: 2px 2px #00dba0;
}

.navigation-button:hover {
  background-color: #00dba0;
  border: 2px solid #009970;
  box-shadow: 2px 2px #009970;
}

.navigation-button:active {
    background-color: #009970;
    border: 2px solid #00dba0;
    box-shadow: none;
    transform: translateY(2px);
  }

.main-page-menu{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    padding: 50px 150px;

    border: 1px none #fff;
}

.main-page-elem {
  border: 2px solid #00dba0;
  border-radius: 30px;
  background-color: #009970;
  position: relative;
  padding: 40px 40px 20px 40px;
  text-align: center;
  font-size: 1.8em;
  font-family: "Folkard";
  text-shadow: #0f121f 0px 10px 10px;
}

a .main-page-elem:hover {
  background-color: #00dba0;
  border: 2px solid #009970;
}

.players-info-list, .games-info-list, .player-in-game-info-list {
  margin: 20px 100px 20px 100px;
  display: block;

  border: 1px none #fff;
}

.player-info, .game-info, .player-in-game-info {
  display: grid;
  grid-template-columns: 3fr 1fr;
  border: 1px solid #00dba0;
  padding: 0px 20px;
  margin: 10px;
}

.player-info{
  grid-template-columns: 1fr 1fr 1fr;
}

.player-in-game-info {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.player-in-game-elem {
  text-align: center;

  border: 1px none #fff;
}

.game-name {
  text-align: left;

  border: 1px none #fff;
}

.game-date{
  text-align: right;

  border: 1px none #fff;
}

.player-elem {
  text-align: center;

  border: 1px none #fff;
}

.player-nickname{
  text-align: left;

  border: 1px none #fff;
}

.player-pts{
  text-align: center;

  border: 1px none #fff;
}

.player-wins {
  color: green;

  border: 1px none #fff;
}

.player-loses {
  color:red;

  border: 1px none #fff;
}

.debug{

}

.site-form {
    margin-top: 60px;
    border: 1px solid #00dba0;
    padding: 20px;
}

.site-form input, .site-form textarea{
    display: block;
    margin: 20px 0 0px 0;
    padding: 10px;
}

.site-form input[type="submit"]{
    background: #00dba0;
    border: 0;
    color: #fff;
    font-size: 20px;
    border-radius: 4px;
    margin: 10px 0;
}

#logo-title-prototype{
  font-size: 62px;
  font-style: none;
  text-shadow: #00dba0 0 0 10px;
  background-color: #000;
}

@font-face {
  font-family: "FRIZQT";
  src: url("../font/FRIZQT__.TTF") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Abaddon";
  src: url("../font/Abaddon.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Folkard";
  src: url("../font/folkard_.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
