
body {
  display: block;
  background-color: #0f121f;
  background-image: url("../image/stars.png");
  background-repeat: no-repeat;
  color: white;
  font-family: "FRIZQT";
}

a, a:hover, a:visited{
    color: #fff;
    text-decoration: none;
}

a:hover div{
  background-color: #00dba0;
  border: 1px solid #009970;
}

.wrapper{
  max-width: 1280px;
  margin: auto;
  text-align: left;
  border: 1px none #00dba0;
}

.wrapper > h1, h2{
  text-align: center;
  font-family: "Abaddon";
  padding-bottom: 10px;
  padding-top: 20px;
  text-transform: capitalize;

}

.wrapper > h1{
  font-size: 2.2em;
  text-shadow: #00dba0 0 0 5px;
  padding-bottom: 40px;
}

.wrapper > h2{
  font-size: 1.8em;
  margin: 20px 0px 0px 0px;
  padding: 20px 0px 0px 0px;
  text-shadow: #00dba0 0 0 3px;
}

.header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px 20px 40px 20px;
}

.module-header{
  /*margin: 20px 20px 0px 20px;*/
  /*padding: 20px 20px 0px 20px;*/
  /*font-size: 28px;*/
}

.team-players {
  display: block;
  padding: 20px 0;
  border: 1px solid #00dba0;
  padding: 20px;
  margin: 20px;
}

.teams-view {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  padding: 20px;
  margin: 20px;
}

.versus-field {
  display: block;
  border: 1px solid black;
  padding: 20px;
  padding-top: 120px;
  margin: 20px;
  text-align: center;
  border-style: none;
  font-size: 1.6em;
}

.navigation-buttons-menu {
  border: 1px solid #00dba0;
  padding: 20px;
  margin: 20px;
}

.navigation-button {
  background-color: #009970;
  border-radius: 10px;
  border: 2px solid #00dba0;
  text-align: center;
  color: #fff;
  font-size: 0.9em;
  margin: 0px 10px;
  padding: 5px 15px;
  box-shadow: 2px 2px #00dba0;
}

.navigation-button:hover {
  background-color: #00dba0;
  border: 2px solid #009970;
  box-shadow: 2px 2px #009970;
}

.navigation-button:active {
    background-color: #009970;
    border: 2px solid #00dba0;
    box-shadow: none;
    transform: translateY(2px);
  }

.main-page-menu{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    padding: 50px 150px;
}

.main-page-elem {
  border: 2px solid #00dba0;
  border-radius: 30px;
  background-color: #009970;
  position: relative;
  padding: 40px 40px 20px 40px;
  text-align: center;
  font-size: 1.8em;
  font-family: "Folkard";
  text-shadow: #0f121f 0px 10px 10px;
}

a .main-page-elem:hover {
  background-color: #00dba0;
  border: 2px solid #009970;
}

.players-info-list, .games-info-list, .player-in-game-info-list {
  margin: 20px 100px 20px 100px;
  display: block;
}

.player-info, .game-info, .player-in-game-info {
  display: grid;
  grid-template-columns: 3fr 1fr;
  border: 1px solid #00dba0;
  padding: 0px 20px;
  margin: 10px;
}

.player-in-game-info {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.player-in-game-elem {
  text-align: center;
  border: 1px none #00dba0;
}

.game-name {
  text-align: left;
  border: 1px none #00dba0;
}

.game-date{
  text-align: right;
  border: 1px none #00dba0;
}

.player-nickname{
  text-align: left;
  border: 1px none #00dba0;
}

.player-pts{
  text-align: center;
  border: 1px none #00dba0;
}

#logo-title-prototype{
  font-size: 62px;
  font-style: none;
  text-shadow: #00dba0 0 0 10px;
  background-color: #000;
}

@font-face {
  font-family: "FRIZQT";
  src: url("../font/FRIZQT__.TTF") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Abaddon";
  src: url("../font/Abaddon.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Folkard";
  src: url("../font/folkard_.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
