{% load static from staticfiles %}
<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>One Scythe League</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'image/green_double_scythe_72.png' %}">
    <link rel="shortcut icon" href="{% static 'image/green_double_scythe_72.ico' %}" type="image/x-icon">
  </head>

	<body>
    <div class="wrapper">

			<div class="header">

				<div class="logo">
					<a href="{% url 'home' %}">
						<img src="{% static 'image/one_scythe_league_62.png' %}">
					</a>
				</div>

				<div>

					<nav>
						<ul class="nav-menu">
							<a href="{% url 'calculator:players_list' %}">
						    <li class="nav-menu-elem">
						      Players
						    </li>
						  </a>
							<a href="{% url 'calculator:games_list' %}">
								<li class="nav-menu-elem">
									Games
								</li>
							</a>
							<a href="{% url 'calculator:balance_calculator' %}">
								<li class="nav-menu-elem">
									Calculator
								</li>
							</a>
						</ul>
					</nav>

				</div>
				<div>
					<nav>
						<ul class="nav-login">
								{% if user.is_authenticated %}
								<li class="nav-login-elem">Hello, {{user}}</li>
								<li class="nav-login-elem">
										<form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
												{% csrf_token %}
												<button type="submit">Logout</button>
										</form>
								</li>
								{% else %}
								<li class="nav-login-elem"><a href="{% url 'accounts:login' %}">Login</a></li>
								<li class="nav-login-elem"><a href="{% url 'accounts:signup' %}">Signup</a></li>
								{% endif %}
						</ul>
					</nav>
				</div>

			</div>
			<div class="content">
	      {% block content %}
	      {% endblock %}
			</div>
    </div>
  </body>
</html>
